<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link type="text/css" rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css" />
  <link type="text/css" rel="stylesheet" href="/css/app.css" />
  <%- style %>
</head>

<body class="d-flex flex-column h-100">
  <%- include("./partials/_navbar.ejs") %>
  <%- body %>
  <%- include("./partials/_footer.ejs") %> 
  <script src="/@popperjs/core/dist/umd/popper.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <%- script %>

</body>

</html>